#!/usr/bin/env rc

f=`{mktemp}
cat <<'EOF' >$f
BEGIN {RS="--------------"}

/^\s*$/ {next}
{ idx = 0 }
match($0, /status id: ([^\n]+)/, m) {p[idx++] = m[1]}
match($0, /posted on: ([^\n]+)/, m) {p[idx++] = m[1]}
match($0, /author: ([^\n]+)/, m) {p[idx++] = m[1]}
match($0, /boosted by: ([^\n]+)/, m) {p[idx++] = sprintf("<%s", m[1])}
{
	for (i in p) {
		printf(p[i] " ")
	}
	print ""
	delete p
	next
}
EOF

awk -f $f $HOME/.config/msync/msync_accounts/*/home.list \
	| sort -k2 \
	| awk '{ \
		parts = gensub(/([.:T-]|000Z)/, " ", "g", $2); \
		d = mktime(parts); \
		n = strftime("%F %H:%M", d); \
		printf $1 " [" NR "] " $2 " " n " "; \
		for (i = 3; i <= NF; i++) {printf $i " "}
		printf "\n"
	}' \
	| tac

rm $f
