#!/usr/bin/env rc

./list.rc \
	| fzf --no-sort \
		--exact \
		--nth 1.. \
		--with-nth 2.. \
		--track \
		--preview-window wrap,top,60% \
		--preview './preview.rc {1}' \
		--bind 'F5:reload(msync sync > /dev/null; ./list.rc)' \
		--bind 'enter:execute(./open.rc {1})' \
		--bind 'ctrl-s:execute-silent(msync queue fav {1})' \
		--bind 'ctrl-u:execute-silent(msync queue boost {1})' \
		--color 'bg+:#8b1b82,gutter:236'


