#!/usr/bin/env rc
ACCOUNT=$1 
ICON=queue:
MODE=queue
DIR=$HOME/.config/msync/msync_accounts/$ACCOUNT/queuedposts 

ls $DIR --ignore='*.*' | tac | \
fzf --no-sort \
    --exact \
    --nth 1.. \
    --track \
    --preview-window bottom:wrap,80%,border-double \
    --preview './queuepreview.awk {1}' \
    --bind 'E:preview-down' \
    --bind 'I:preview-up' \
    --bind 'F5:reload(msync sync -m 3 -a $ACCOUNT > /dev/null; ./list.rc $ACCOUNT)' \
    --bind 'ctrl-f:execute-silent(msync queue fav {1} --account $ACCOUNT)' \
    --bind 'ctrl-b:execute-silent(msync queue boost {1} --account $ACCOUNT)' \
    --bind 'ctrl-n:execute(./msync_fzf.rc $ACCOUNT notifications)'\
    --bind 'ctrl-v:execute(vim $DIR/{1})' \
    --bind 'ctrl-p:execute(./post.sh $ACCOUNT)'\
    --bind 'ctrl-r:execute(./post.sh $ACCOUNT {1})'\
    --bind 'ctrl-e:first' \
    --bind 'ctrl-i:last' \
    --bind 'ctrl-space:change-preview-window(hidden|)' \
    --color 'hl:green,fg+:-1,bg+:black,gutter:-1,border:bright-black,pointer:cyan,spinner:bright-magenta,preview-label:magenta,info:-1'\
    -i \
    --border=none\
    --info=inline-right\
    --no-scrollbar\
    --scroll-off=1\
    --preview-label=' '$ICON' '$ACCOUNT' '\
    --preview-label-pos=4\
    --header-first \
    --exit-0
